.home-cnt{
  margin-top: 10px;
    max-width:100%;
    min-height: 100vh;
    /* padding:10px; */
    /* background-color:#2D2D2D; */
    padding-right:100px;
    padding-left:100px;
   
}
.home-box{
padding:10px;
align-items: center;
display: flex;
justify-content: center;
height: 40vh;
  /* background-color: silver; */
  background-size: cover; /* Make the background image cover the entire container */
   /* Make the background image cover the entire container */
  /* background-position: top; */
  border-radius: 20px;
  background-repeat: no-repeat; /* Prevent background image from repeating */

/* height:100%; */
border-radius: 20px;
}
.home-box .home-content{
  align-items: center;
}
.home-box .home-content h1{
  font-size: 7rem;
  color:white;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-content p{
color:white;
text-align: center;
font-size: 1.5rem;
}